<div class="centerForm">
    <mat-card>
        <mat-card-title>
            LOGIN
        </mat-card-title>

        <mat-card-content>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Enter Your Name</mat-label>
                <input matInput>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="currentUserName" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter Your Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button class="btn" mat-raised-button routerLink="/dashboard" (click)="fnLogin()">Login</button>
            <br><br>
            <p><a routerLink="/login">Click to Register!</a></p>
        </mat-card-content>
    </mat-card>
</div> 
