<mat-toolbar class="appHeader">
  <button mat-icon-button class="header-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="header-spacer"></span>
  <button mat-icon-button class="header-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="header-icon">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="app-sidenav" mode="side">
    <li *ngFor="let n of navItems">
      {{ n }}
    </li>
  </mat-drawer>
  <div>
    <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
      <p>App Content Goes Here..</p>
  </div>
</mat-drawer-container>

<mat-toolbar color="primary" class="appFooter">  
    <p>Sticky Footer !!</p>
</mat-toolbar>