/* You can add global styles to this file, and also import other style files */
$baseColor: rgb(119, 2, 80);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.appHeader{
    height: 10vh;
    background-color: $baseColor;
    color: white;
  }
  
  .app-container {
    height: 80vh;
  }
  
  .header-spacer {
    flex: 1 1 auto;
  }
  
  .app-sidenav {
    padding: 20px;
  }
  
  .appFooter{
      height: 10vh;
      background-color: $baseColor;  
      color: white;
      div {     
        margin: auto; 
        font-size: 15px;
      }
  }
  
